server:
  port: 8083

spring:
  application:
    name: ollama-AI
  profiles:
    active: dev
  ai:
    ollama:
      base-url: http://127.0.0.1:11434
      chat:
        model: huihui_ai/qwen3-abliterated:8b

logging:
  file:
    path: ./logs
  level:
    #    释放sql 记录
    com.feeyo.schedule.backend.mapper: info
    org.apache.kafka: INFO


# 开启驼峰命名
mybatis:
  configuration:
    map-underscore-to-camel-case: true

# 监控
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  prometheus:
    metrics:
      export:
        enabled: true

